//
//  Production.xcconfig
//  Boomday
//
//  Created by Piotr Suwara on 17/11/20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Switch over when ready
// Service URL
SERVICE_ROOT_URL = https:/$()/api.boomday.com/

// Site URL
SITE_ROOT_URL = https:/$()/frontend.boomday.com/

// Notifications Connection String
NOTIFICATIONS_CONNECTION_STRING = Endpoint=sb:/$()/boom-prod-notifications.servicebus.windows.net/;SharedAccessKeyName=DefaultListenSharedAccessSignature;SharedAccessKey=Ob1SCxP74lKRQtFdgvYylM3FXqWFkj8l8H1MN9WtUQ8=

// Notifications Hub Name
NOTIFICATIONS_HUB_NAME = default

// App Settings
APP_NAME = Broadcast
APP_BUNDLE_ID = com.boomday.broadcast

DEBUG_UI_ENABLED = false
